:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(255, 255, 255);
}

.main {
  width: 100%;

  .secTitle {
    .title {
      position: relative;
      width: max-content;
      color: var(--textColor);
      margin: 1rem 0;
      z-index: 2;
    }
  }

  .secAbout {
    justify-content: center;
    .aboutContent {
      text-align: center;
      h3 {
        font-size: 700;
        font-weight: 500;
        padding: 0.5rem;
      }

      p {
        font-size: 15px;
        font-weight: 500;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: var(--textColor);
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
    &::after {
      width: 155pc !important;
    }
  }
  .secAbout {
    grid-template-columns: repeat(2, 1fr);

    .aboutContent {
      height: auto;
    }
  }
}

@media screen and (min-width: 840px) {
  .main {
    .secAbout {
      grid-template-columns: repeat(4, 1fr);

      .aboutContent {
        height: auto;
      }
    }
  }
}
